
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: frontedsdrimsac-dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped
